//blog
body.blog{
  font-family: 'Droid Sans', serif;
  background: $color-ramp-160;
  text-align: left;
  color: $text-primary;
  p{
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.6;
    letter-spacing: .01rem;
    font-size: 20px;
  }
  h1{
    font-size: 2em;
  }
  h1, h2, h3, h4{
  	font-weight: 700;
  	color: $text-primary;
    margin-top: $default-padding * 3;
    font-family: 'Varela Round', sans-serif;
  }
  h1.blog-title{
    position: relative;
  	text-align: center;
  	font-size: 50px;
    padding: 20px 0px;
    margin: 0px;
    background: $color-ramp-60;
    color: $color-ramp-160;
  }
  h1.with-cover{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    color: $color-ramp-150;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0)) bottom no-repeat;
  }
  .by-line{
    text-align: center;
    padding-top: 15px;
  }
  .by-line__author{
    display: inline-block;
  }
  .by-line__date{
    color: $color-ramp-110;
    display: inline-block;
    margin-left: 100px;
  }
}

.blog-content{
  position: relative;
	max-width: 46em;
  padding: $default-padding;
	background: $color-ramp-160;
	margin-left: auto;
	margin-right: auto;
	img{
		max-width: 100%;
	}
}

.home-btn{
	position: absolute;
	left: 10px;
	top: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: $color-ramp-40;
  text-align: center;
  font-size: 40px;
  padding-top: 15px;
  z-index: 10;
  color: $color-ramp-120;
}

.article-cover{
  height: 600px;
  background-size: cover;
  background-position: center bottom;
}

.mobile-screenshot{
  display: inline-block;
  width: 45%;
  margin-right: 15px;
  border: 2px solid $color-ramp-140;
}

.mobile-toolbar{
  display: none;
}

/* Syntax Highlight overrides
**********************************/

.hljs{
  border-radius: 7px;
  padding: $default-padding;
  background-color: $color-ramp-30;
}

.hljs-comment{
  color: $color-ramp-80;
}

@media only screen and (max-width: 45em){
  .mobile-toolbar{
    display: block;
    padding: $default-padding;
    background-color: $color-ramp-50;
    .mobile-home-btn{
      color: $color-ramp-140;
      font-size: 20px;
    }
  }
  .home-btn{
    display: none;
  }
}
