//blog
body.blog{
  font-family: 'Open Sans', sans-serif;
  background: $color-ramp-160;
  text-align: justify;
  color: $color-ramp-70;
  font-size: 18px;
  p{
    font-weight: 400;
  }
  h1, h2, h3, h4{
  	font-family: 'Roboto', sans-serif;
  	font-weight: 700;
  	color: $color-ramp-60;
  }
  h1.blog-title{
  	text-align: center;
  	font-size: 40px;	
  }
}

.blog-content{
	max-width: 46em;
	background: $color-ramp-160;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	img{
		max-width: 100%;
	}
}

.home-btn{
	position: absolute;
	left: 10%;
	top: 20px;
}