//cards
.update-card{
	position: absolute;
	overflow: hidden;
	width: 0px;
	height: 0px;
	margin: 175px;
	@include transition(all 0.5s ease-in-out);
	&.shown{
		width: 350px;
		height: 300px;
		margin: 0px;
		padding: $default-padding;
		background: $color-ramp-160;
		border: 1px solid $color-ramp-150;
		border-radius: 4px;
	}
	&:hover{
		border: 1px solid transparent;
		box-shadow: 1px 1px 5px $color-ramp-100;
	}
}

.card__footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: $default-padding;
	min-height: 60px;

	h5, p{
		margin: 0px;
		font-size: 14px;
	}
	h5{
		font-weight: 400;
		color: $color-ramp-80;
		font-weight: bold;
	}
	p{
		color: $text-secondary;
		text-align: left;
	}
}

.card__header{
	padding-left: 40px;
	position: relative;
	.pretty-date{
		position: absolute;
		right: 0px;
		font-size: 12px;
		color: $text-secondary;
	}
}

.card__icon{
	position: absolute;
	left: 10px;
	top: -4px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	z-index: 10;
	background: $color-ramp-160;
	border: 4px solid $color-ramp-160;
	box-sizing: content-box;
	// border: 1px solid $border;
	img{
		width: 80%;
		margin-left: 2px;
		margin-top: 3px;
	}

}

.card__image-holder{
	overflow: hidden;
	margin-top: 23px;
	height: 205px;
	position: relative;
	img{
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  max-width: 100%;
	}
}

.card__info{

}