//_common.scss

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.text-orange{
	color: $orange;
}
.text-blue{
	color: $blue;
}
.text-purple{
	color: $purple;
}
.text-emphasis{
  color: $primary;
}