.home-header{
	position: relative;
	width: 100%;
	padding-top: 1px;
}

.home-header__name{
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	top: 20px;
	font-weight: 300;
}

.main-menu{
	width: 500px;
	left: 50%;
	margin-left: -250px;
	position: absolute;
	top: 80px;
	text-align: center;
}

.main-menu__link{
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	margin-right: 30px;
	vertical-align: bottom;
	@include transition-property(background);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-out);
	img{
		width: 80%;
		margin-top: 8px;
		display: inline-block;
	}
	span{
		font-size: 13px;
		position: absolute;
		width: 100%;
		bottom: -20px;
		left: 0px;
		text-align: center;
		color: #777;
	}
	&:nth-child(2){
		img{
			margin-top: 16px;
			width: 65%;
		}
	}
	&:hover,&.active{
		background: $divider;
		span{
			color: $text-primary;
		}
	}
}

.home-content{
	margin-top: 230px;
	margin-left: 15px;
	padding: $default-padding;
	position: relative;
	background: $default-background;
}