.main-content{
	margin-left: 300px;
}

.sidebar{
	position: fixed;
	padding: 10px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 280px;
	background: $color-ramp-60;
}

.sidebar__profile{
	margin-top: 20px;
	padding: 20px;
	position: relative;
	padding-left: 90px;
	h2{
		margin: 0px;
		font-size: 18px;
		color: $color-ramp-140;
		line-height: 1;
	}
	.email-link{
		font-size: 14px;
		color: $color-ramp-110;
		margin-top: 5px;
		line-height: 1;
	}
}

.sidebar__profile__image{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid $color-ramp-50;
	img{
		width: 120%;
		margin-top: -5px;
		margin-left: -5px;
	}
}

.sidebar__about-me{
	padding: 10px;
	p{
		font-size: 14px;
		color: $color-ramp-90;
	}
}

.contact{
	text-align: center;
}

.contact__link{
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	text-align: center;
	background: $color-ramp-50;
	border-radius: 50%;
	padding-top: 10px;
	vertical-align: top;
	i{
		font-size: 30px;
		color: $color-ramp-90;
		@include transition(color 0.3s ease-out);
	}
	&:hover{
		i{
			color: $color-ramp-150;
		}
	}
}

.home-header{
	position: relative;
	width: 100%;
	padding-top: 1px;
}

.main-menu{
	width: 500px;
	left: 50%;
	margin-left: -250px;
	position: absolute;
	top: 30px;
	text-align: center;
	// &:after, &:before{
	// 	content: '';
	// 	position: absolute;
	// 	height: 1px;
	// 	width: 400px;
	// 	left: 50%;
	// 	margin-left: -200px;
	// }
	// &:after{
	// 	top: -10px;
	// 	background: $border;
	// }
	// &:before{
	// 	top: -9px;
	// 	background: white;
	// }
}

.main-menu__link{
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	margin-right: 30px;
	vertical-align: bottom;
	@include transition-property(background);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-out);
	img{
		width: 80%;
		margin-top: 6px;
		display: inline-block;
	}
	span{
		font-size: 13px;
		position: absolute;
		width: 100%;
		bottom: -20px;
		left: 0px;
		text-align: center;
		color: #777;
	}
	&:nth-child(3){
		img{
			margin-top: 12px;
			width: 65%;
		}
	}
	&:hover,&.active{
		background: $highlight-background;
		span{
			color: $text-primary;
		}
	}
}

.home-content{
	margin-top: 170px;
	margin-left: 15px;
	padding: $default-padding;
	position: relative;
	background: $default-background;
}