// _reset.scss
@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,300);
html,
body,
ul,
ol {
   margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: $text-primary;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html{
	height: 100%;
}
body{
	background: $default-background;
	min-height: 100%;
}