//variables

/* Colors
***********************/
$purple: #c69bed;
$pink: #fac0f4;
$orange: #ffab00;
$yellow: #fee68c;
$blue: #b7dcfe;


//ramp
$color-ramp-10: #16161F;
$color-ramp-20: #1B1B25;
$color-ramp-30: #1F1F2B;
$color-ramp-40: #242432;
$color-ramp-50: #282838;
$color-ramp-60: #2D2D3E;
$color-ramp-70: #424251;
$color-ramp-80: #575765;
$color-ramp-90: #6C6C78;
$color-ramp-100: #81818B;
$color-ramp-110: #96969E;
$color-ramp-120: #ABABB2;
$color-ramp-130: #C0C0C5;
$color-ramp-140: #D5D5D8;
$color-ramp-150: #EAEAEC;
$color-ramp-160: #FFFFFF;

$text-primary: #212121;
$text-secondary: $color-ramp-110;
$text-disabled: #b8b8b8;
$divider: #dadada;
$border: #e6e7e8;

$default-background: $color-ramp-150;
$highlight-background: #e0e0e0;
$dark-background: #616161;

/* Spacing etc
***********************/
$default-padding: 10px;