//variables

/* Colors
***********************/
$purple: #c69bed;
$pink: #fac0f4;
$orange: #ffab00;
$yellow: #fee68c;
$blue: #b7dcfe;

$text-primary: #212121;
$text-secondary: #727272;
$text-disabled: #b8b8b8;
$divider: #dadada;
$border: #f1f2f3;

$default-background: #f8f9fa;

/* Spacing etc
***********************/
$default-padding: 15px;