<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Akshay Anand</title>
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>
<h1>{{title}}</h1>
<p>{{{contents}}}</p>
<script type="text/javascript" src="../../js/main.js"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>
</body>
</html>
